@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-card: #121214;
  --color-primary: #0ea5e9;
  --color-secondary: #8b5cf6;
}

body {
  background-color: var(--color-background);
  color: white;
  scroll-behavior: smooth;
}